<!DOCTYPE html>
<!--THIS IS THE HOMEPAGE OF PEARLLABS-->
<html>
<head>
<title>Pearl Labs</title>
<body>
    <h1>Pearl Labs</h1>


<!--Linking to other pages-->
[ <a href="/">Home</a> | <a href="/Customers">Customers</a> |  <a href="/Orders">Orders</a> | <a href="/Products">Products</a> | <a href="/ProductTypes">ProductTypes</a> ]

  <!--Customers Description-->
  <h3>Customers</h3>
  <li>Display customer information for all customers</li>
  <li>Search for a specific customer</li>
  <li>Add a customer</li>

  <!--Orders Description-->
  <h3>Orders</h3>
  <li>Display order information for all orders</li>
  <li>Display ordered product information for all orders</li>
  <li>Add an order</li>
  <li>Add an ordered product</li>
  <li>Update an ordered product</li>
  <li>Delete an order</li>

  <!--Products Description-->
  <h3>Products</h3>
  <li>Display product information for all products</li>
  <li>Add a product</li>

  <!--ProductTypes Description-->
  <h3>ProductTypes</h3>
  <li>Display product type information for all product types</li>
  <li>Add a product type</li>
  

</body>
</html>