{{!-- This is the Product Types page --}}
<link rel="stylesheet" type="text/css"   href="/css/style.css">
<h1>Product Types</h1>
[ <a href="/">Home</a> | <a href="/Customers">Customers</a> |  <a href="/Orders">Orders</a> | <a href="/Products">Products</a> | <a href="/ProductTypes">ProductTypes</a> ]

{{!-- Create Product Types table --}}
<table id="product-types-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- Display each column name in human readable format --}}
        <caption>Information for all product types</caption>
        <tr>
            <th>ProductType ID</th>
            <th>Product Type</th>
            <th>Product Description</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        
        {{!-- For each row, print the productTypeID, productType, productTypeDescription in order --}}
        {{#each data}}
        <tr>
            <td>{{this.productTypeID}}</td>
            <td>{{this.productType}}</td>
            <td>{{this.productTypeDescription}}</td>
        </tr>
        {{/each}}
    </tbody> 
</table>

{{!-- Form to add a Product Type to the table using standard HTML forms --}}
<h2>Add a Product Type</h2>
<p>To add a new Product Type, please enter its information below and click `Submit`!</p>
<form id="add-product-type-form" method="POST" action="/add-product-type-form">
    <label for="input-productType">Product Type: </label>
    <input type="text" name="input-productType" id="input-productType" required>
    <br>
    <label for="input-productTypeDescription">Product Type Description: </label>
    <input type="text" name="input-productTypeDescription" id="input-productTypeDescription" required>
    <br>
    <br>
    <input type="submit">
</form> 